.navbar-item img {
    max-height: 3.75rem;
}

.navbar-menu {
    flex-grow: 1;
    flex-shrink: 0;
}

.navbar-end {
    justify-content: flex-end;
    margin-left: auto;
    align-items: stretch;
    display: flex;
}

.navbar .navbar-menu .navbar-item {
    font-size: 18px;
    font-weight: 300;
    color: #293347;
}

.control {
    font-size: 1rem;
    position: relative;
    text-align: left;
}

.navbar .navbar-menu a.button.is-primary.is-outlined {
    border-width: 2px;
    font-weight: 400;
    font-size: 18px;
    padding: 1.2rem;
}

.navbar .navbar-brand a.navbar-item img {
    max-height: 5rem;
}


/* Projects  */

.projects .project-grid figure {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

.projects .project-grid figure figcaption h1.title {
    color: #fff;
    margin-bottom: 1.8rem;
    font-weight: 500;
}

.projects .project-grid figure figcaption a.button.is-primary.is-outlined.is-rounded {
    margin: 0 auto;
    font-size: 18px;
    padding: 1.2rem;
    font-weight: 400;
    border-width: 2px;
    color: #fff;
}

.projects .project-grid .overlay {
    background-color: #293347;
}

.projects .project-grid figure figcaption a.button.is-primary.is-outlined.is-rounded span.icon svg {
    width: 8px;
}